*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-image: url(../img/body/fondo3.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondos/fondomain4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav div img{
    width: 120px; 
    margin-top: 0.6rem;   
    margin-left: 1.5rem;
    filter:brightness(200%)
    
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.309);
}
.nav-btn{
    color: white;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 4.5rem;
    background: rgba(0, 0, 0, 0.882);
    text-align: center;
    transition: all .5s;
}
.nav-menu li{
    display: none;
    line-height: 2rem;
    margin: 3.5rem;
    transition: all 0.5s;
}
.nav-menu li a{
    line-height: 2rem;
    margin-top: 3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 600;  
}
.nav-menu li a:hover{
    transition: 0.8s;
    color: #c8dcb2;
}

#check{
    display:none;
}
#check:checked ~ .nav-menu{
    height:100vh;
}
#check:checked ~ .nav-menu li{
    display:block;
}

/* -----------------------------------------ESTILOS INDEX---------------------------------------------------- */
.bienvenida{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.bienvenida h1{
    color: 	#c8dcb2;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
}
.bienvenido{ 
    font-size: 1rem;   
    font-weight: 500;
    text-shadow: 0.8px 0.8px 0.8px black;
}
.sueños{
    font-size: 0.8rem;
    text-shadow: 0.8px 0.8px 0.8px black;
}
.boton-uno{
    margin-right: 2rem;
}

.botones-bienvenida{
    margin-top: 2rem;
}
.botones-bienvenida button{
    
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 0.7rem;
    background-color: rgba(0, 0, 0, 0.759);
    box-shadow: 2px 6px 20px black;
    transition: 0.8s;
}

.botones-bienvenida button:hover{
    background-color: rgba(45, 45, 45, 0.759);
    transition: 0.8s;
}
.botones-bienvenida a{
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}
/* estilos section-uno */
.section-uno{
    margin-top: 2rem;
}
.titulo-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img-profe{
    display: none;
}
.titulo-section img{
    width: 50%;
}
.titulo-section h3{
    font-size: 1.1rem;
    font-weight: 600;
    width: 10rem;
    
}

.creaciones span{
    font-weight:800;
}
.titulo-section p{
    font-size: 0.8rem;
    text-align:justify;
}

.img-carousel img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* estilos section dos */
.section-dos{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-dos h3{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}
.productos-destacados{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: space-around;
}
.producto-destacado-uno{
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    width: 10rem;
    height: 16rem;
    background-image: url(../img/productos/producto2.jpg);
    background-size: contain;
    background-position: center;
    box-shadow: 2px 6px 20px rgba(75, 75, 75, 0.742);
    border-radius: 0.2rem;
}
.info-productos{
    height: 40%;
    background-image: url(../img/body/fondo3.jpg);
    background-size: cover;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    padding: 0.09rem;
}
.titulo-info {
    font-size: 0.7rem;
    color: black;
    font-weight: 600;
}

.precio-info {
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
}

.descripcion-info {
    display: none;
}

.boton-padre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-info {
    text-align: center;
    background-color: #c8dcb2;
    border-radius: 0.2rem;
    padding: 0.2rem;
    font-size: 0.8rem;
    color: black;
    transition: 0.8s;
}

.boton-info:hover {
    transition: 0.8s;
    background-color: #e6ebe1;

}
.ver-catalogo{
    width: fit-content;
    height: fit-content;
    color: black;
    background-color: #98B27B;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    padding: 0.3rem;
    box-shadow: 2px 6px 20px rgba(75, 75, 75, 0.742);
    transition: 0.8s;
    margin-top: 2rem;
}
.ver-catalogo:hover {
    transition: 0.8s;
    background-color: #d2e7bb;
}

/* estilos section tres */

.section-tres{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-tres h4{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}
.proximos-talleres{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-around;
}
.taller-uno{
    display: flex;
    flex-direction: column-reverse;
    width: 16rem;
    height: 16rem;
    background-image: url(../img/talleres/taller5.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 6px 20px rgba(75, 75, 75, 0.742);
    border-radius: 0.2rem;
}
.info-talleres{
    height: 40%;
    background-image: url(../img/body/fondo3.jpg);
    background-size: cover;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    padding: 0.05rem;
}
.titulo-taller {
    font-size: 0.8rem;
    color: black;
    font-weight: 600;
}

.precio-taller {
    font-size: 0.9rem;
    font-weight: 600;
    color: black;  
}

.descripcion-taller {
    display: none;
}

.boton-padre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-info {
    text-align: center;
    background-color:#c8dcb2;
    border-radius: 0.2rem;
    padding: 0.2rem;
    font-size: 0.8rem;
    color: black;
    transition: 0.8s;
}

.boton-info:hover {
    transition: 0.8s;
    background-color: #e6ebe1;

}
.ver-talleres {
    width: fit-content;
    height: fit-content;
    color: black;
    background-color: #98B27B;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    padding: 0.3rem;
    box-shadow: 2px 6px 20px rgba(75, 75, 75, 0.742);
    transition: 0.8s;
    margin-top: 2rem;
}
.ver-talleres:hover {
    transition: 0.8s;
    background-color: #d2e7bb;
}
.paginas{
    display: flex;
    justify-content: center;
    background: none;
    color: #98B27B;
}


/* estilos footer */

.footer-padre {
    background-color: rgb(33, 33, 33);
    display: grid;
    grid-template-areas: "f1 f1 f1 f1"
                          "f2 f2 f3 f3"
                          "f4 f4 f4 f4";
    color: white;
    font-size: 0.5rem;
    margin-top: 2rem;
    

}
.footer-uno{
    grid-area: f1;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.footer-dos{
    grid-area: f2;
    text-align: center;
}
.footer-tres{
    grid-area: f3;
    text-align: center;
}
.footer-cuatro{
    grid-area: f4;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 2rem;
}

.footer-uno img{
    margin-top: 1rem;
    width: 50%;
    
}

.footer-cuatro img{
    width: 17%;
    margin-right: 0.2rem;
    filter: invert(1)
    
}

    

/*----MEDIA QUERIES INDEX------ */

@media screen and (min-width: 766px){
    
   .nav-btn{
       display: none;
   }
   .nav-menu{
       position: relative;
       height: 8rem;
       top: 0;
       background: none;
       transition: none;
       text-align: right;
       margin-right: 2rem;
   }
   .nav-menu li{
       display: inline-block;
       line-height: 8rem;
       margin: 1rem;
       transition: none;
    
   }
   .nav-menu li a{
       font-size: 0.8rem; 
       padding: .5rem;
       transition: 0.8s;
   }

   /* -----MQ section uno------ */

   .carousel{
       width: 50%;
   }
   .creaciones{
       width: 70%;
   }
   .img-profe{
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   /* ------MQ section dos------- */

   .productos-destacados{
       gap: 6rem;
       
   }
   .producto-destacado-uno{
        background-size: cover;
        background-repeat: no-repeat;
        width: 14rem;
        height: 23rem;
   }
   .info-productos{
       padding: 0.5rem;
   }
   .descripcion-info {
        display: block;
        font-size: 0.8rem;
        margin-top: -1rem;
    }
    
    /* --------MQ section tres------- */

    .proximos-talleres{
        gap: 6rem;
        
    }
    .taller-uno{
         background-size: cover;
         background-repeat: no-repeat;
         width: 18rem;
         height: 23rem;
    }
    .info-talleres{
        padding: 0.3rem;
    }
    .descripcion-taller {
         display: block;
         font-size: 0.8rem;
         margin-top: -1rem;
     }
   
   }
   /* -------MQ footer---------- */
   .footer-uno img{
       width: 20%;
   }
   .footer-dos p{
       font-size: 0.8rem;

   }
   .footer-tres p{
    font-size: 0.8rem;
   }
   .footer-cuatro{
       display: flex;
       align-items: center;
       justify-content: space-between;
       height: 2rem;
       padding-left: 10px;
       padding-right: 10px;
   }
   .footer-cuatro p{
       margin-top: 1rem;
       font-size: 0.8rem;
   }
   .imgs{
       width: 8%;
   }


/* -------------------------------------------HTML NOSOTROS-------------------------------------------------- */
.caja-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}
.texto-nosotros{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.texto-nosotros h1{
    font-size: 1.2rem;
    font-weight: 600;
}
.texto-nosotros h2{
    font-size: 1.2rem;
    font-weight: 600;
}
.caja-nosotros img{
    width: 90%;
    box-shadow: 2px 6px 20px rgba(75, 75, 75, 0.742);

}
.carrusel-dos{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carrusel-dos h2{
    font-size: 1.2rem;
    font-weight: 600;
}
#carouselExampleFadee{
    width: 75%;      
}

/* -------MEDIA QUERIES HTML NOSOTROS------- */
@media screen and (min-width: 766px){
    .caja-nosotros{
        flex-direction: row;
        padding: 6rem;
    }
    .caja-nosotros img{
        width: 40%;
    }
    #carouselExampleFadee{
        width: 50%;  
        margin-top: 2rem;    
    }
}

/* -------------------------------------------HTML PRODUCTOS-------------------------------------------------- */
.productos-titulo h2{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.listado-productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* -------------------------------------------HTML TALLERES-------------------------------------------------- */
.header-dos{
    background-image: none;
    height: 20vh;
}
.section-talleres{
    margin-top: 5rem;
}
.row-taller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}
.taller{
    background-image: url(../img/talleres/fondomain22.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 22rem;
    height: 17rem;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 2px 6px 20px rgba(75, 75, 75, 0.742);
    
}
.info-taller{
    background-image: url(../img/body/fondo3.jpg);
    background-size: cover;
    width: 40%;
    padding: 1rem;
}
.taller-titulo{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}
.taller-descripcion{
    text-align: center;
}
.especificacion-taller{
    margin-top: 2rem;
    width: 80%;
}
.esp-titulo{
    font-size: 1.1rem;
    font-weight: 600;
}
.esp-hora{
    font-size: 1rem;
    font-weight: 600;
    
}
.esp-ubicacion{
    font-size: 0.8rem;
}
.esp-texto{
    font-size: 0.9rem;
}
.esp-texto-dos{
    font-size: 0.9rem;
}

.esp-boton{
    background-color: #c8dcb2;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 0.2rem;
    padding: 0.2rem;
    box-shadow: 2px 6px 20px rgba(75, 75, 75, 0.742);

}
.esp-boton:hover{
    background-color: #d2e7bb;
    cursor: pointer;
}

/* ------MEDIA QUERIES TALLERES--------- */

/* MQ main*/
@media screen and (min-width: 766px){
    .row-taller{
        flex-direction: row;
        }
    
    .taller{
        background-image: url(../img/talleres/fondomain22.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        width: 28rem;
        height: 17rem;
        display: flex;
        flex-direction: row-reverse;
        }
        .especificacion-taller{
            width: 45%;
        }
}

/* -------------------------------------------HTML CONTACTO-------------------------------------------------- */
.html-contacto{
    display: flex;
    flex-direction: column;
}
.contacto-centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-floating{
    width: 60%;
    margin-top: 1rem;
}
.html-contacto h1{
    margin-top: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.contenido-contacto{
    text-align: center;
}

.contenedor-contacto{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}
.caja-contacto{
    position: relative;
    padding:1rem 0;
    display: flex;
}
.icono-contacto{
    min-width: 3rem;
    height: 3rem;
    padding: 1rem;
    background-color:rgb(214, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.texto-contacto{
    margin-left: 1.5rem;
    
}
.texto-contacto h3{
    font-size: 1rem;
    font-weight: 600;
}

/* MEDIA QUERIES HTML CONTACTO */
@media screen and (min-width: 766px){
    .form-floating{
        width: 40%;
        margin-top: 2rem;
    }
    
    
}